# Caches
**/__pycache__/
.pytest_cache

# Virtual environments
env/

# VS Code
.vscode/
.jshintrc

# Vagrant
.vagrant
Vagrantfile

# Secrets
.env

# Git
.git
.gitignore

# Logs
*.log

# Docker
Dockerfile

# Vagrant
Vagrantfile
