{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for task in tasks %}
        {% if task.status != 'Done' %}
        <li data-task-id='{{ task.id }}' class="list-group-item">
          {{ task.title }}
          <span class="badge badge-danger badge-pill">{{ task.status }}</span>
          <button class="mark-complete btn btn-outline-success" type="button">Mark Complete</button>
          <button class="remove-task btn btn-outline-danger" type="button">Remove Item</button>
          <br>
          <i>{{ task.description}}</i>
          <br>
          Due: <b>{{ task.due }}</b>
        </li>
        {% else %}
        <li data-task-id='{{ task.id }}' class="list-group-item list-group-item-light">
          {{ task.title }} 
          <span class="badge badge-success badge-pill">{{ task.status }}</span>
          <button class="remove-task btn btn-outline-danger" type="button">Remove Item</button>
          <br>
          <i>{{ task.description}}</i>
          <br>
          Due: <b>{{ task.due }}</b>
        </li>
        {% endif %}
        {% endfor %}
        <li class="list-group-item">
          <form class="list-group mb-4" method="POST" target="/" style="display:inline-block">
            <label for="title">New Item:</label>
            <input type="text" name="title" />
            <br>
            <label for="description">Description:</label>
            <textarea name="description" rows="5"></textarea>
            <br>
            <label for="due">Due:</label>
            <input type="text" name="due" class="datepicker">
            <br>
            <button type="submit" class="btn btn-success">Add</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}